.input-custom {
    position: relative;
    width: 100%;
    text-align: left;

    &__label-input {
        @include flex(center, space-between);
        margin-bottom: 0.5rem;
        color: var(--txt-color);

        &__span {
            font-weight: 700;
            font-size: 1.4rem;

            &__validate {
                color: var(--color-error);
            }
        }

        &__tag {
            font-size: 1.2rem;
            color: var(--txt-second);
        }
    }

    &__sub {
        font-size: 1.2rem;
        color: var(--txt-color);
    }

    &__text-input {
        height: max-content;
        position: relative;

        & > input {
            background-color: var(--bg-main);
            width: 100%;
            display: inline-flex;
            min-width: 8rem;
            justify-content: center;
            white-space: nowrap;
            border: 1px solid #ccc;
            font-size: 1.6rem;
            font-weight: 400;
            outline: none;
            text-align: left;
            padding: 1rem 1.4rem;
            color: var(--txt-color);
            border-radius: 0.5rem;

            &.error {
                border-color: var(--color-error);
            }
        }

        &__icon {
            pointer-events: none;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            transition: all 0.3s ease;
            font-size: 2rem;
            color: var(--txt-color);
        }
    }

    &__error-input {
        font-size: 1.2rem;
        color: var(--color-error);
        display: inline-block;
        min-height: 1.2rem;
        margin-bottom: 4px;
    }

    &__button-input {
        height: max-content;
        position: relative;

        & > button {
            border-radius: 0.5rem;
            background-color: var(--bg-color);
            width: 100%;
            display: inline-flex;
            min-width: 8rem;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            border: 1px solid var(--txt-color);
            font-size: 1.6rem;
            font-weight: 400;
            outline: none;
            text-align: left;
            padding: 1rem 1.4rem;
            color: var(--txt-color);
            cursor: pointer;
            overflow: hidden;

            & > i {
                font-size: 2.6rem;
                color: var(--txt-color);
            }

            &:hover {
                background-color: var(--bg-second);
            }
        }

        &.primary > button {
            border-color: transparent;
            background-color: var(--color-primary);
            color: var(--color-white);
        }

        &.disable {
            pointer-events: none;
            user-select: none;
            filter: grayscale(1);
            opacity: 0.5;
            cursor: none;
        }
    }
}
