.theme-mode-light {
    --bg-main: #fff;
    --bg-second: #f7f8fb;
    --bg-third: #e7ecf0;
    --bg-pink: #fff8f9;
    --bg-yellow: #ffffce;

    --color-black: #000;
    --color-white: #fff;
    --color-primary: #346edf;
    --color-blue: #e3f2ff;
    --color-blue-hover: #cce7ff;
    --color-green: #e7fbf1;
    --color-green-hover: #cffde6;
    --color-pink: #ffebee;
    --color-pink-hover: #f9d6db;
    --color-pink-second: #fff8f9;
    --color-error: #e41622;

    --txt-color: #212f3f;
    --txt-second: #667580;
    --txt-green: #00c89d;

    --border-dashed: #e5e6eb;

    --box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}
